* {
  font-family: 'Montserrat', sans-serif;
  color: #222;
}
body {
  max-width: 100%;
  height: 100vh;
  background: #fdfdfd;
}

#calcBudget {
  transform: translateY(100vh);
  max-width: 100%;
  transition: 0.5s;
}

#calcBudget header,
#showBudgetBody header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h3 {
  text-align: center;
  margin: 1em 0;
}

label {
  margin: 1em 0 1.5em 0;
}

button {
  padding: 1em;
  width: 100%;
  margin: 1em auto;
  background: transparent;
  font-weight: 600;
  border: 2px solid #222;
  border-radius: 15px;
}

input,
select {
  background: transparent;
  border: none;
  border-bottom: 1px solid #222;
  outline: none;
  width: 100%;
}

.budgetForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  
}

.budget {
  margin: 2em auto;
  
}

/* BUDGET.HTML STYLES */

#showBudgetBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-100vh);
  max-width: 100%;
  transition: 0.5s;
}

#showBudgetBody header {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


#showBudgetBody #showBudget {
  min-height: 50%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#showBudgetBody #showBudget .budgetItem {
  margin: 0.5em 0;
}

#showBudgetBody #showBudget p {
  text-align: center;
  margin: 0;
}

#showBudgetBody #showBudget h4 {
  text-align: center;
  margin: 0.5em 0;
}

#showBudgetBody #alertBudget,
#showBudgetBody #clearBudget {
  display: none;
  
  text-align: center;
}

#showBudgetBody .noBudget {
  max-width: 100%;
  text-align: center;
  line-height: 1.5rem;
}

#showBudgetBody .noBudget a,
#showBudgetBody .noBudget a:link {
  color: #0099cc;
  text-decoration: none;
}